<connectionStrings>
  <clear />
  <add name="BaoDatShopConnection" providerName="System.Data.SqlClient" connectionString="Server=901e7247-f899-4415-b209-a6f401316491.sqlserver.sequelizer.com;Database=db901e7247f8994415b209a6f401316491;User ID=hndebmdftbnomqsd;Password=dB47k7RRVcMSucXiUNnsiDhVsPyt54BU3potXkssWxw8Xx2RnwWYzz8FtgNDFxV2;" />
</connectionStrings>