<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="gau.tapchoi@gmail.com"/>
  <add key="FromEmailPassword" value="3815781171923"/>
  <add key="FromName" value="B?o ??t Shop"/>
  <add key="AdminEmail" value="huubao2309@gmail.com"/>
  <add key="CurrentLink" value="http://shopbaodat.apphb.com/"/>
</appSettings>