USE [master]
GO
/****** Object:  Database [db901e7247f8994415b209a6f401316491]    Script Date: 07-Jan-17 2:58:46 PM ******/
CREATE DATABASE [db901e7247f8994415b209a6f401316491] ON  PRIMARY 
( NAME = N'db901e7247f8994415b209a6f401316491', FILENAME = N'D:\mssqldata\db901e7247f8994415b209a6f401316491.mdf' , SIZE = 2304KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db901e7247f8994415b209a6f401316491_log', FILENAME = N'E:\mssqllog\db901e7247f8994415b209a6f401316491_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db901e7247f8994415b209a6f401316491].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db901e7247f8994415b209a6f401316491]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07-Jan-17 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ApplicationGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationRoleGroups]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoleGroups](
	[GroupId] [int] NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoleGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationRoles]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserClaims]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserClaims] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserGroups](
	[UserId] [nvarchar](128) NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserLogins]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserRoles]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[BirthDay] [datetime] NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactDetails]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Other] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Lng] [float] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContactDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Errors]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Errors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Message] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Footers]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footers](
	[ID] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Footers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuGroups]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.MenuGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](256) NOT NULL,
	[DisplayOrder] [int] NULL,
	[GroupID] [int] NOT NULL,
	[Target] [nvarchar](10) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](256) NOT NULL,
	[CustomerAddress] [nvarchar](256) NOT NULL,
	[CustomerEmail] [nvarchar](256) NOT NULL,
	[CustomerMobile] [nvarchar](50) NOT NULL,
	[CustomerMessage] [nvarchar](256) NOT NULL,
	[PaymentMethod] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CustomerId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pages]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Image] [nvarchar](256) NULL,
	[HomeFlag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PostCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image] [nvarchar](256) NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NULL,
	[HotFlag] [bit] NULL,
	[ViewCount] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostTags]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostTags](
	[PostID] [int] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PostTags] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Image] [nvarchar](256) NULL,
	[HomeFlag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image] [nvarchar](256) NULL,
	[MoreImages] [xml] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PromotionPrice] [decimal](18, 2) NULL,
	[Warranty] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NULL,
	[HotFlag] [bit] NULL,
	[ViewCount] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[Tags] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductTags](
	[ProductID] [int] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ProductTags] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
	[Image] [nvarchar](256) NULL,
	[Url] [nvarchar](256) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Slides] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupportOnlines]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportOnlines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Skype] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Yahoo] [nvarchar](50) NULL,
	[Facebook] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_dbo.SupportOnlines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemConfigs]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemConfigs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[ValueString] [nvarchar](50) NULL,
	[ValueInt] [int] NULL,
 CONSTRAINT [PK_dbo.SystemConfigs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VisitorStatistics]    Script Date: 07-Jan-17 2:58:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorStatistics](
	[ID] [uniqueidentifier] NOT NULL,
	[VisitedDate] [datetime] NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.VisitorStatistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ApplicationGroups] ON 

INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (1, N'Admin', N'Phân quyền người dùng')
INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (2, N'User', N'Người dùng Website')
SET IDENTITY_INSERT [dbo].[ApplicationGroups] OFF
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId]) VALUES (1, N'68073bd2-db65-464f-91c2-690474bfa095')
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId]) VALUES (1, N'bdedd23e-dee0-4289-a99a-c643a0dbaa84')
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId]) VALUES (1, N'bf6934af-5a38-4594-9389-157796fccb45')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'68073bd2-db65-464f-91c2-690474bfa095', N'UpdateUser', N'Cập nhật người dùng', N'ApplicationRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'af6c0fa8-7102-463b-b25b-c8b96d126aa6', N'AddUser', N'Thêm người dùng', N'ApplicationRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'bdedd23e-dee0-4289-a99a-c643a0dbaa84', N'DeleteUser', N'Xóa người dùng', N'ApplicationRole')
SET IDENTITY_INSERT [dbo].[ApplicationUserClaims] ON 

INSERT [dbo].[ApplicationUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue], [ApplicationUser_Id]) VALUES (1, N'Nguyễn Hữu Bảo', N'admin', N'Cho làm admin', NULL)
SET IDENTITY_INSERT [dbo].[ApplicationUserClaims] OFF
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId]) VALUES (N'92d31107-f063-4e47-a417-f4eff3cb7d4e', 1)
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId]) VALUES (N'92d31107-f063-4e47-a417-f4eff3cb7d4e', 2)
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId]) VALUES (N'bf412461-cb45-4156-89af-02f5728f0a8e', 1)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'06316b81-9647-4214-9c30-85335230fabe', N'1a6a632c-0845-4e6d-875a-3739299a5ca7', NULL, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'6ecaaa1c-933e-410f-807c-c04a63d3b333', N'1a6a632c-0845-4e6d-875a-3739299a5ca7', NULL, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'92d31107-f063-4e47-a417-f4eff3cb7d4e', N'1a6a632c-0845-4e6d-875a-3739299a5ca7', NULL, NULL)
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'06316b81-9647-4214-9c30-85335230fabe', N'Hà minh Đạt', N'227 Nguyễn Văn Cừ', CAST(0x0000A6F20001448C AS DateTime), N'haminhdat01@gmaill.com', 1, N'ABUyMqHND7EPMcUYKAgZ76XcE+K3w69c8u7ogO1IQYUAws5/SCl947e3Ns7lSKQxcA==', N'4fdabaec-b40d-47b4-a7a0-3e0dcca69063', N'0123456789', 0, 0, NULL, 0, 0, N'haminhdat01@gmaill.com')
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'92d31107-f063-4e47-a417-f4eff3cb7d4e', N'Bao Bill', N'227 Nguyễn Văn Cừ', CAST(0x0000A6C00180EB60 AS DateTime), N'baodat.international@gmail.com', 1, N'AD3Od+qNtytebRGqUBMp++gGicYn0Pn/rtyXcEcTP3Z1yfjvEqZodDKwuXDrclLEQA==', N'f2471c4d-01c8-4cac-8f62-dc0d3c12d462', NULL, 0, 0, NULL, 0, 0, N'baodat')
SET IDENTITY_INSERT [dbo].[ContactDetails] ON 

INSERT [dbo].[ContactDetails] ([ID], [Name], [Phone], [Email], [Website], [Address], [Other], [Lat], [Lng], [Status]) VALUES (1, N'Shop thời trang Bảo Đạt', N'0979313803', N'huubao2309@gmail.com', N'http://baodat.com.vn', N'227 Nguyễn Văn Cừ, Quận 5, TP.Hồ Chí Minh', N'', 10.762617, 106.682335, 1)
SET IDENTITY_INSERT [dbo].[ContactDetails] OFF
SET IDENTITY_INSERT [dbo].[Errors] ON 

INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (1, N'The model state is valid.
Parameter name: modelState', N'   at System.Web.Http.HttpError..ctor(ModelStateDictionary modelState, Boolean includeErrorDetail)
   at System.Net.Http.HttpRequestMessageExtensions.<>c__DisplayClassb.<CreateErrorResponse>b__a(Boolean includeErrorDetail)
   at System.Net.Http.HttpRequestMessageExtensions.CreateErrorResponse(HttpRequestMessage request, HttpStatusCode statusCode, Func`2 errorCreator)
   at System.Net.Http.HttpRequestMessageExtensions.CreateErrorResponse(HttpRequestMessage request, HttpStatusCode statusCode, ModelStateDictionary modelState)
   at BaoDatShop.Web.Api.PostCategoryController.<>c__DisplayClass1.<Get>b__0() in d:\Source CNHĐ CK\BaoDatShop\BaoDatShop.Web\Api\PostCategoryController.cs:line 30
   at BaoDatShop.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in d:\Source CNHĐ CK\BaoDatShop\BaoDatShop.Web\Infrastructure\Core\ApiControllerBase.cs:line 27', CAST(0x0000A6C0014C2A01 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (2, N'The model state is valid.
Parameter name: modelState', N'   at System.Web.Http.HttpError..ctor(ModelStateDictionary modelState, Boolean includeErrorDetail)
   at System.Net.Http.HttpRequestMessageExtensions.<>c__DisplayClassb.<CreateErrorResponse>b__a(Boolean includeErrorDetail)
   at System.Net.Http.HttpRequestMessageExtensions.CreateErrorResponse(HttpRequestMessage request, HttpStatusCode statusCode, Func`2 errorCreator)
   at System.Net.Http.HttpRequestMessageExtensions.CreateErrorResponse(HttpRequestMessage request, HttpStatusCode statusCode, ModelStateDictionary modelState)
   at BaoDatShop.Web.Api.PostCategoryController.<>c__DisplayClass1.<Get>b__0() in d:\Source CNHĐ CK\BaoDatShop\BaoDatShop.Web\Api\PostCategoryController.cs:line 30
   at BaoDatShop.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 function) in d:\Source CNHĐ CK\BaoDatShop\BaoDatShop.Web\Infrastructure\Core\ApiControllerBase.cs:line 27', CAST(0x0000A6C0014CBDE5 AS DateTime))
SET IDENTITY_INSERT [dbo].[Errors] OFF
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([ID], [Name], [Email], [Message], [CreatedDate], [Status]) VALUES (1, N'fafsfa', N'fafas', N'fafasf', CAST(0x0000A6D20187A750 AS DateTime), 0)
INSERT [dbo].[Feedbacks] ([ID], [Name], [Email], [Message], [CreatedDate], [Status]) VALUES (2, N'fasfa', N'fafaf', N'fafasfaf', CAST(0x0000A6F100F24E69 AS DateTime), 0)
INSERT [dbo].[Feedbacks] ([ID], [Name], [Email], [Message], [CreatedDate], [Status]) VALUES (3, N'fasfa', N'haminhdat01@gmail.com', N'Tôi là Hà Minh Đạt', CAST(0x0000A6F100FAC789 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
INSERT [dbo].[Footers] ([ID], [Content]) VALUES (N'default', N'      <div class="footer-bottom-cate">
        <h6>CATEGORIES</h6>
        <ul>
          <li><a href="#">Curabitur sapien</a></li>
          <li><a href="#">Dignissim purus</a></li>
          <li><a href="#">Tempus pretium</a></li>
          <li><a href="#">Dignissim neque</a></li>
          <li><a href="#">Ornared id aliquet</a></li>
          <li><a href="#">Ultrices id du</a></li>
          <li><a href="#">Commodo sit</a></li>
          <li><a href="#">Urna ac tortor sc</a></li>
          <li><a href="#">Ornared id aliquet</a></li>
          <li><a href="#">Urna ac tortor sc</a></li>
          <li><a href="#">Eget nisi laoreet</a></li>
          <li><a href="#">Faciisis ornare</a></li>
        </ul>
      </div>
      <div class="footer-bottom-cate bottom-grid-cat">
        <h6>FEATURE PROJECTS</h6>
        <ul>
          <li><a href="#">Curabitur sapien</a></li>
          <li><a href="#">Dignissim purus</a></li>
          <li><a href="#">Tempus pretium</a></li>
          <li><a href="#">Dignissim neque</a></li>
          <li><a href="#">Ornared id aliquet</a></li>
          <li><a href="#">Ultrices id du</a></li>
          <li><a href="#">Commodo sit</a></li>
        </ul>
      </div>
      <div class="footer-bottom-cate">
        <h6>TOP BRANDS</h6>
        <ul>
          <li><a href="#">Curabitur sapien</a></li>
          <li><a href="#">Dignissim purus</a></li>
          <li><a href="#">Tempus pretium</a></li>
          <li><a href="#">Dignissim neque</a></li>
          <li><a href="#">Ornared id aliquet</a></li>
          <li><a href="#">Ultrices id du</a></li>
          <li><a href="#">Commodo sit</a></li>
          <li><a href="#">Urna ac tortor sc</a></li>
          <li><a href="#">Ornared id aliquet</a></li>
          <li><a href="#">Urna ac tortor sc</a></li>
          <li><a href="#">Eget nisi laoreet</a></li>
          <li><a href="#">Faciisis ornare</a></li>
        </ul>
      </div>
      <div class="footer-bottom-cate cate-bottom">
        <h6>OUR ADDERSS</h6>
        <ul>
          <li>Aliquam metus  dui. </li>
          <li>orci, ornareidquet</li>
          <li> ut,DUI.</li>
          <li>nisi, dignissim</li>
          <li>gravida at.</li>
          <li class="phone">PH : 6985792466</li>
          <li class="temp"> <p class="footer-class">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p></li>
        </ul>
      </div>
      <div class="clearfix"> </div>')
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 11, 1, CAST(450000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (4, 11, 1, CAST(450000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (6, 11, 1, CAST(450000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CustomerMessage], [PaymentMethod], [CreatedDate], [CreatedBy], [PaymentStatus], [Status], [CustomerId]) VALUES (1, N'Dat', N'Dat', N'Dat', N'Dat', N'Dat', N'Dat', CAST(0x0000A6F300A11409 AS DateTime), NULL, NULL, 0, NULL)
INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CustomerMessage], [PaymentMethod], [CreatedDate], [CreatedBy], [PaymentStatus], [Status], [CustomerId]) VALUES (2, N'Dat', N'Dat', N'Dat', N'Dat', N'Dat', N'Dat', CAST(0x0000A6F300A576BC AS DateTime), NULL, NULL, 0, NULL)
INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CustomerMessage], [PaymentMethod], [CreatedDate], [CreatedBy], [PaymentStatus], [Status], [CustomerId]) VALUES (3, N'ABC', N'ABC', N'ABC', N'ABC', N'ABC', N'ABC', CAST(0x0000A6F300A7CCA4 AS DateTime), NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([ID], [Name], [Alias], [Content], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (1, N'Giới thiệu', N'gioi-thieu', N'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium ', NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Pages] OFF
SET IDENTITY_INSERT [dbo].[PostCategories] ON 

INSERT [dbo].[PostCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (1, N'Test category', N'Test-category', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PostCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (2, N'Test category', N'Test-category', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PostCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (3, N'Test category', N'Test-category', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[PostCategories] OFF
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (8, N'Sách', N'sach', N'Bán sách', NULL, 1, NULL, NULL, CAST(0x0000A6DE017D1296 AS DateTime), NULL, NULL, NULL, N'sach', N'Sách các thể loại', 1)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (9, N'Giầy', N'giay', N'Giầy da, giầy thể thao, vv....', NULL, 0, NULL, NULL, CAST(0x0000A6DE017E1668 AS DateTime), NULL, NULL, NULL, N'giay dep', N'Giầy dép thời trang', 1)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (10, N'Quần áo', N'quan-ao', N'Quần áo nam nữ', NULL, 1, NULL, NULL, CAST(0x0000A6DE017E6331 AS DateTime), NULL, NULL, NULL, N'quan ao', N'Quần áo nam nữ thời gian', 1)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Tags], [Quantity], [OriginalPrice]) VALUES (6, N'Nón MTP', N'non-mtp', 12, N'http://res.cloudinary.com/hcmus-edu/image/upload/v1483553074/non_thoi_trang_mtp_zsmstp.jpg', N'[]', CAST(280000.00 AS Decimal(18, 2)), CAST(260000.00 AS Decimal(18, 2)), 12, N'Nón giống Sơn Tùng MTP', N'<p>rất tốt</p>
', NULL, NULL, NULL, CAST(0x0000A6F000FD7182 AS DateTime), N'baodat', NULL, NULL, NULL, NULL, 1, NULL, 2, CAST(240000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Tags], [Quantity], [OriginalPrice]) VALUES (7, N'Áo khoắc nữ - M118', N'ao-khoac-nu-m118', 14, N'http://res.cloudinary.com/hcmus-edu/image/upload/v1483553067/ao_khoac_nu_m118_kvzelj.jpg', N'[]', CAST(270000.00 AS Decimal(18, 2)), CAST(260000.00 AS Decimal(18, 2)), 1, N'áo khoắc nữ', N'<p>rất tốt</p>
', NULL, NULL, NULL, CAST(0x0000A6F000FE8F3B AS DateTime), N'baodat', NULL, NULL, NULL, NULL, 1, NULL, 1, CAST(250000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Tags], [Quantity], [OriginalPrice]) VALUES (10, N'Fantastic Beasts And Where To Find Them: The Original Screenplay', N'fantastic-beasts-and-where-to-find-them-the-original-screenplay', 8, N'http://res.cloudinary.com/hcmus-edu/image/upload/v1483548028/g1gqagrtatoffojd6wa6.jpg', N'[]', CAST(569000.00 AS Decimal(18, 2)), CAST(399000.00 AS Decimal(18, 2)), 1, N'fantastic-beasts-and-where-to-find-them-the-original-screenplay', N'<p>J.K. Rowling&#39;s screenwriting debut is captured in this exciting hardcover edition of the Fantastic Beasts and Where to Find Them screenplay.</p>

<p>When Magizoologist Newt Scamander arrives in New York, he intends his stay to be just a brief stopover. However, when his magical case is misplaced and some of Newt&#39;s fantastic beasts escape, it spells trouble for everyone&hellip;</p>

<p>Fantastic Beasts and Where to Find Them marks the screenwriting debut of J.K. Rowling, author of the beloved and internationally bestselling&nbsp;<a href="http://tiki.vn/search?q=harry+potter">Harry Potter</a>&nbsp;books. Featuring a cast of remarkable characters, this is epic, adventure-packed storytelling at its very best.</p>

<p>Whether an existing fan or new to the wizarding world, this is a perfect addition to any reader&#39;s bookshelf.</p>
', 1, 1, NULL, CAST(0x0000A6F101863A06 AS DateTime), N'MinhDat', CAST(0x0000A6F3010D280E AS DateTime), N'MinhDat', NULL, NULL, 1, N'Book', 9, CAST(569000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Tags], [Quantity], [OriginalPrice]) VALUES (11, N'Áo khoác M118', N'ao-khoac-m118, ao-khoac, aokhoac', 13, N'http://res.cloudinary.com/hcmus-edu/image/upload/v1483556307/rgkwcdhxqytokqhigwhl.png', N'["http://res.cloudinary.com/hcmus-edu/image/upload/v1483556315/hknihldahmpumvwkrddd.png","http://res.cloudinary.com/hcmus-edu/image/upload/v1483556318/mtnpxqnhwmwsha2aa037.png","http://res.cloudinary.com/hcmus-edu/image/upload/v1483556318/cuefqeapkpawujgxdlii.png"]', CAST(450000.00 AS Decimal(18, 2)), CAST(420000.00 AS Decimal(18, 2)), 6, N'Áo khoác dành cho nam, năng động trẻ trung', N'<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">PG08 - &Aacute;O KHO&Aacute;C NAM H&Agrave;N QUỐC (&Aacute;o kho&aacute;c nam phối t&uacute;i viền sọc, lovepink)</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">- Size:&nbsp;M - L - XL&nbsp;</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">- M&agrave;u sắc:&nbsp;Xanh, X&aacute;m</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">- Kiểu s&aacute;ng:&nbsp;Cổ đứng, kh&ocirc;ng n&oacute;n, tay d&agrave;i</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">- Mục địch sử dụng:&nbsp;C&ocirc;ng sở, d&atilde; ngoại, dạo phố, đi học, đi chơi</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">- Chất liệu:&nbsp;Thun 100% cotton, thun g&acirc;n cao cấp,&nbsp;Ch&acirc;́t li&ecirc;̣u cao c&acirc;́p,&nbsp;Hàng chính hãng xuất khẩu</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">&Aacute;o kho&aacute;c nam H&agrave;n quốc được thiết kế với kiểu d&aacute;ng trẻ trung, năng động. Sản phẩm thuộc&nbsp;dạng &aacute;o kho&aacute;c kh&ocirc;ng c&oacute; mũ&nbsp;mang đ&ecirc;́n sự thoải m&aacute;i v&agrave; tự tin cho người mặc.</a></strong></p>

<ul>
	<li><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">Ch&acirc;́t li&ecirc;̣u thun 100% cotton cao c&acirc;́p si&ecirc;u b&ecirc;̀n, m&ecirc;̀m mịn, cho cảm giác thoải mái nh&acirc;́t</a></strong></li>
	<li><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">Lớp l&oacute;t&nbsp;trong&nbsp;tho&aacute;ng khí, loại bỏ cảm giác&nbsp;khó chịu</a></strong></li>
	<li><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">Ch&acirc;́t li&ecirc;̣u thấm h&uacute;t mồ h&ocirc;i khi mặc, kh&ocirc;ng b&ecirc;́t dính</a></strong></li>
	<li><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">Thi&ecirc;́t k&ecirc;́ khóa kéo cao tới cổ k&ecirc;́t hợp mũ đ&ocirc;̣i &acirc;́m, thời trang</a></strong></li>
	<li><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">Màu sắc th&ecirc;̉ thao, khỏe khoắn v&agrave; năng động</a></strong></li>
</ul>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">TH&Ocirc;NG TIN THƯƠNG HIỆU:</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">PG Collection&nbsp;&ndash; thời trang online nổi bật với những thiết kế trẻ trung, ngộ nghĩnh, mang m&agrave;u sắc tươi s&aacute;ng, ph&ugrave; hợp với c&aacute;c bạn trẻ năng động v&agrave; y&ecirc;u th&iacute;ch thời trang. C&aacute;c sản phẩm của PG Collection mang một vẻ đặc trưng ri&ecirc;ng, kh&ocirc;ng chỉ từ h&igrave;nh ảnh, đường n&eacute;t, m&agrave;u sắc, chất liệu, m&agrave; c&ograve;n l&agrave; những th&ocirc;ng điệp về gi&aacute; trị cuộc sống được gửi gắm v&agrave;o từng sản phẩm.</a></strong></p>

<p><strong><a href="http://pgcollection.vn/ao-khoac-nam-han-quoc.html" target="_blank">&quot;&nbsp;Confidence to customers&quot; - &quot;Niềm tin đến kh&aacute;ch h&agrave;ng&quot;, l&agrave; khẩu hiệu đầy tự h&agrave;o của PG Collection khi được khơi gợi cảm hứng thiết kế từ tuổi trẻ s&ocirc;i nổi, nhiệt huyết v&agrave; tr&agrave;n đầy sức sống</a></strong></p>
', 1, 1, NULL, CAST(0x0000A6F20020CBCB AS DateTime), N'MinhDat', NULL, NULL, N'aokhoacnam, áo khoác nam, aokhoachangquoc, áo khoác hàn quốc', N'Áo khoác Nam, Áo khoắc Hàn Quốc', 1, N'aokhoacnam, áo khoác nam, aokhoachangquoc, áo khoác hàn quốc,', 3, CAST(300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (10, N'Book')
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([ID], [Name], [Description], [Image], [Url], [DisplayOrder], [Status], [Content]) VALUES (1, N'Slide 1', NULL, N'/Assets/client/images/bag.jpg', N'#', 1, 1, N'	<h2>FLAT 50% 0FF</h2>
                                <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                <p>Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et </ p >
                        <span class="on-get">GET NOW</span>')
INSERT [dbo].[Slides] ([ID], [Name], [Description], [Image], [Url], [DisplayOrder], [Status], [Content]) VALUES (2, N'Slide 2', NULL, N'/Assets/client/images/bag1.jpg', N'#', 2, 1, N'<h2>FLAT 50% 0FF</h2>
                                <label>FOR ALL PURCHASE <b>VALUE</b></label>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </ p >

                                <span class="on-get">GET NOW</span>')
SET IDENTITY_INSERT [dbo].[Slides] OFF
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'Book', N'Book', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'dasda', N'dasda', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'fadfaf', N'fadfaf', N'product')
ALTER TABLE [dbo].[ApplicationRoles] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [OriginalPrice]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ApplicationRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId]
GO
ALTER TABLE [dbo].[ApplicationUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId]
GO
ALTER TABLE [dbo].[ApplicationUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[ApplicationRoles] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.MenuGroups_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[MenuGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.MenuGroups_GroupID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.ApplicationUsers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.ApplicationUsers_CustomerId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PostCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_CategoryID]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTags_dbo.Posts_PostID] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_dbo.PostTags_dbo.Posts_PostID]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_dbo.PostTags_dbo.Tags_TagID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID]
GO
USE [master]
GO
